<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKEND_BASE_URL</key>
	<string>$(BACKEND_BASE_URL)</string>
	<key>COGNITO_CLIENTID</key>
	<string>$(COGNITO_CLIENTID)</string>
	<key>COGNITO_OAUTH_BASE</key>
	<string>$(COGNITO_OAUTH_BASE)</string>
	<key>COGNITO_URL</key>
	<string>$(COGNITO_URL)</string>
	<key>NSPhotoLibraryLimitedAccessAPISupport</key>
	<true/>
</dict>
</plist>
